@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  transition: background 0.3s ease, color 0.3s ease; 
}

body {
  font-family: "Space Grotesk", sans-serif;
}

.dark {
  background: #000;
  color: #fff;
}


.dark .bg-img {
  background-image: url("../src/assets/bg-img5.png");
}

.light {
  background-image: url("../src/assets/bg-light.jpg");
  color: #000;
}

.light h1, 
.light h2, 
.light h3, 
.light h4, 
.light h5, 
.light h6, 
.light p, 
.light a,
.light span,
.light button,
.light ::placeholder,
.light input,
.light textarea
{
  color: #000 !important;
}

.light #l{
  color: #fff !important;
}